/simple_proof/.ipynb_checkpoints/iso_reg_nonmonotonic_data-checkpoint.ipynb
/.idea/.gitignore
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/Basic_But_Useful.iml
